*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}
*{
    transition: all .6s !important;
    font-family: 'Roboto', sans-serif !important;
}

html {
    scroll-behavior: smooth;

    font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%

    @include respond(tab-land) { //width < 1200
        font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
    }
    @include respond(tab-port) { //width < 900
        font-size: 50%; //1rem = 8px, 8/18 = 50%
    }
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
    // background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
    background-color: rgb(255, 232, 227);
    background-size: 100%;
    background-attachment: fixed;
    @include respond(tab-port) { 
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}


/*Scroll*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0/ 0 5px $color-secondary-light;
    border-radius: 20px;
    transition: all .3s;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color-secondary-light;
    border-radius: 10px;
    transition: all .3s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $color-secondary-light;
  }
  