.section-about {
    padding: 25rem 0;
    margin-top: -20vh;
    // background-color: red;
    // clip-path: polygon( 0 0, 100% 0, 100% 75vh, 0 100%); /* Make cool cut of header image */
    @include respond(tab-port) {
        padding: 20rem 0;
    }
}
.section-features {
    padding: 12rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.8),
        rgba($color-secondary-dark, 0.8)), 
         url(../img/nat-7.jpg);
         clip-path: polygon(94% 3%, 100% 100%, 82% 100%, 0 100%, 0 0);
        
    background-size: cover;
    // transform: skewY(-7deg);
    margin-top: -10rem;

    // & > * {
    //     transform: skewY(7deg);
    // }
    @include respond(tab-port) {
        padding: 10rem 0;
    }
}
.section-tours {
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}
.section-stories {
    position: relative;
    margin-top: 5rem 0;
    padding: 12rem 0;
   
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8));
        clip-path: polygon(100% 0, 100% 100%, 82% 100%, 4% 100%, 0 0);
    
    @include respond(tab-port) {
        padding: 10rem 0;
    }

  
}

.section-stories-1 {

    position: relative;
    margin-top: 5rem 0;
    padding: 12rem 0;
    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.border{
    border-top: 1px solid rgba(68, 19, 19, 0.157) !important;
    width: 90% !important;
    margin:  0 auto !important;
}

.border-1{
    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.8),
        rgba($color-secondary-dark, 0.8)), 
         url(../img/nat-7.jpg);
         clip-path: polygon(94% 3%, 100% 100%, 82% 100%, 0 100%, 0 0);
         background-size: cover;
}
.section-book {
    padding: 8rem 0;
    width: 90%;
    margin:  0 auto;
    border-top: 1px solid rgba(68, 19, 19, 0.157);
    // background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
// clip-path: polygon( 0 0, 100% 0, 100% 75vh, 0 100%); /* Make cool cut of header image */
    @include respond(tab-port) {
        padding: 8rem 0;
    }

    margin-bottom:5rem ;
}

.book {
    background-image: linear-gradient(
        // The angle at which the gradient will happen:
        105deg, 
        // First gradient color
        rgba($color-white, .9) 0%, 
        // Abrupt stop - makes a solid color gradient 
        rgba($color-white, .9) 50%, 
        // Second gradient color
        transparent 50%),
        url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    @include respond(tab-land) {
        background-image: linear-gradient(
        105deg, 
        rgba($color-white, .9) 0%, 
        rgba($color-white, .9) 65%, 
        transparent 65%),
        url(../img/nat-10.jpg);
        background-size: cover;
    }
    @include respond(tab-port) {
        background-image: linear-gradient(
            to right, 
            rgba($color-white, .9) 0%, 
            rgba($color-white, .9) 65%),
            url(../img/nat-10.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;
        
        @include respond(tab-land) {
            width: 65%;
        }
        @include respond(tab-port) {
            width: 100%
        }
    }
}

