.navigation {
    &__checkbox {
        display: none;
    }
    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 5rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 1rem 2rem rgba($color-black, .4);
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            top: 4rem;
            right: 4rem;
        }
        @include respond(phone) {
            top: 2.5rem;
            right: 2.8rem;
        }
    }
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        opacity: .9;
        top: 6rem;
        right: 6.5rem;
        background-image: radial-gradient($color-secondary-light, $color-secondary-dark,);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

        // transform: scale(80);

        @include respond(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }
        @include respond(phone) {
            top: 3rem;
            right: 3rem;
        }
    }
    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all .8 cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }
    &__item {
        margin: .7rem;

        @include respond(tab-port){
            margin: .2rem; 
        }
    }
    &__link {

        &:link, 
        &:visited {
            display: inline-block;
            font-size: 2.7rem;
            font-weight: bold;
            padding: 1rem 2rem;
            text-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.37);
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;

            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }

            @include respond(tab-port){
                font-size: 2.7rem;
            }
          

        }
        
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

  
    
    //ICON

    &__icon {
        position: relative;
        margin-top: 3.6rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-black;
            display: inline-block;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    }
    //For slipt apart animation
    &__button:hover &__icon:before {
        top: -1rem;
    }
    &__button:hover &__icon:after {
        top: 1rem;
    }
    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

}
