.story {
    width: 100%;
    height: 23rem;
    margin: 0 auto;
    box-shadow: 0 1.5rem 4rem rgba($color: black, $alpha: .4);
    background-color: rgba($color-white, .8);
    border-radius: 3px;
    padding: 2rem 2rem 4rem 0;
    padding-left: 5rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
 


    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }
    @include respond(phone) {
        height: 26rem;
       transform: skewX(0);
    }
   
    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        z-index: 9999;
        box-shadow: .1rem 1.5rem 4rem rgba(0, 0, 0, 0.596);

        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        overflow: hidden;
        border-radius: 50%;

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            // For the following polygon to work, the element must have set width and height + a float
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            //For the element to actually look like a circle:
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            border-radius: none;
        }

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }
    }
    &__img {
        
        height: 100%;
        transform: translateX(0rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
       
    }
    &__text {
        transform: skewX(12deg);
        @include respond(phone) {
            transform: skewX(0);
        }
    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(1rem) scale(1.1);
        filter: blur(3px) brightness(80%);
    }
    
}


.tranform{
    width: 100%;
    transform: translateX(0rem) scale(1) !important;
    
    @include respond(phone)  {
        width: 90% !important;
        transform: translateX(.8rem) scale(1.1) !important;
    }

    @include respond(tab-port)  {
        width: 100% !important;
        transform: translateX(0rem) scale(1) !important;
    }
}
