body {
    font-family: "Lato", sans serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;

    box-sizing: border-box;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-top:10rem ;
    margin-bottom: 4rem;
   

    &--main {
        display: block;
        font-size: 5vh;
        font-weight: 600;
        letter-spacing: 1.5rem;
        margin-bottom:2rem ;
        text-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.418);

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;


        @include respond(tab-port) { 
            letter-spacing: 1rem;
            font-family: 5rem;
            font-size: 4.5rem;
        }

        @include respond(phone) { 
            letter-spacing: 1rem;
            font-family: 5rem;
            font-size: 2.5rem;
        }
        /* animation-delay: 3s; 
        animation-iteration-count: 3; */
    }
    &--sub {
        display: block;
        font-size: 2rem;
        text-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.418);
        font-weight: bold;
        letter-spacing: .1rem;
    
        animation: moveInRight 1s ease-out;

        @include respond(phone) { 
            letter-spacing: .1rem;
            font-size: 1rem !important;
        }

        @include respond(tab-port) { 
            font-size: 1.5rem;
        }
    }
} 
.heading-secondary {
    font-size: 3.5rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;

    @include respond(tab-port) { 
        font-size: 3rem;
    }
    @include respond(phone) { 
        margin-top:2rem ;
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}
.heading-tertiary {
    font-size: $default-font-size;
    font-weight:bold;

    text-transform: uppercase;
}
.paragraph {
    font-size: $default-font-size;
}